In [1]:
# Import required libraries
import pandas as pd

# Load the dataset from the uploaded file
file_path = '/content/cardekho.csv'  # Change to the file path on Google Colab after upload
df = pd.read_csv(file_path)

# Display the first few rows of the dataset
print("First 5 rows of the dataset:")
print(df.head())

# Display basic information about the dataset
print("\nDataset Information:")
df.info()

# Check for missing values
print("\nMissing values in the dataset:")
print(df.isnull().sum())

# Summary statistics
print("\nSummary Statistics:")
print(df.describe())

First 5 rows of the dataset:
                           name  year  selling_price  km_driven    fuel  \
0        Maruti Swift Dzire VDI  2014         450000     145500  Diesel
1  Skoda Rapid 1.5 TDI Ambition  2014         370000     120000  Diesel
2      Honda City 2017-2020 EXi  2006         158000     140000  Petrol
3     Hyundai i20 Sportz Diesel  2010         225000     127000  Diesel
4        Maruti Swift VXI BSIII  2007         130000     120000  Petrol

  seller_type transmission         owner  mileage(km/ltr/kg)  engine  \
0  Individual       Manual   First Owner               23.40  1248.0
1  Individual       Manual  Second Owner               21.14  1498.0
2  Individual       Manual   Third Owner               17.70  1497.0
3  Individual       Manual   First Owner               23.00  1396.0
4  Individual       Manual   First Owner               16.10  1298.0

  max_power  seats
0        74    5.0
1    103.52    5.0
2        78    5.0
3        90    5.0
4      88.2    5.0

Dataset Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   name                8128 non-null   object
 1   year                8128 non-null   int64
 2   selling_price       8128 non-null   int64
 3   km_driven           8128 non-null   int64
 4   fuel                8128 non-null   object
 5   seller_type         8128 non-null   object
 6   transmission        8128 non-null   object
 7   owner               8128 non-null   object
 8   mileage(km/ltr/kg)  7907 non-null   float64
 9   engine              7907 non-null   float64
 10  max_power           7913 non-null   object
 11  seats               7907 non-null   float64
dtypes: float64(3), int64(3), object(6)
memory usage: 762.1+ KB

Missing values in the dataset:
name                    0
year                    0
selling_price           0
km_driven               0
fuel                    0
seller_type             0
transmission            0
owner                   0
mileage(km/ltr/kg)    221
engine                221
max_power             215
seats                 221
dtype: int64

Summary Statistics:
              year  selling_price     km_driven  mileage(km/ltr/kg)  \
count  8128.000000   8.128000e+03  8.128000e+03         7907.000000
mean   2013.804011   6.382718e+05  6.981951e+04           19.418783
std       4.044249   8.062534e+05  5.655055e+04            4.037145
min    1983.000000   2.999900e+04  1.000000e+00            0.000000
25%    2011.000000   2.549990e+05  3.500000e+04           16.780000
50%    2015.000000   4.500000e+05  6.000000e+04           19.300000
75%    2017.000000   6.750000e+05  9.800000e+04           22.320000
max    2020.000000   1.000000e+07  2.360457e+06           42.000000

            engine        seats
count  7907.000000  7907.000000
mean   1458.625016     5.416719
std     503.916303     0.959588
min     624.000000     2.000000
25%    1197.000000     5.000000
50%    1248.000000     5.000000
75%    1582.000000     5.000000
max    3604.000000    14.000000